body{
    background-color: #1c1c1c;
    font-family: 'Lato', sans-serif;
}


/* CSS for the continuously animated border */
.animated-border-container {
    position: relative;
    width: 100%;
    /* Adjust the width and height to your container size */
    height: 100%;
    border: 4px solid transparent;
    border-radius: 5px;
    animation: moveBorder 4s linear infinite ;
    transition: all ease;
    
}

@keyframes moveBorder {
    0% {
        border-color: transparent transparent #45f3ff transparent;
        /* Top to Right (Blue) */
        animation-delay: -1.5s;
        margin: 0;
    }

    25% {
        border-color: transparent transparent transparent #ff2770;
        /* Right to Bottom (Blue) */
        animation-delay: -3s;
        margin: 0;
    }

    50% {
        border-color: #45f3ff transparent transparent transparent;
        /* Bottom to Left (Blue) */
    animation-delay: -1.5s;
        margin: 0;
    }

    75% {
        border-color: transparent #ff2770  transparent transparent;
        /* Left to Top (Blue) */
        animation-delay: -3s;
        margin: 0;
    }

    100% {
        border-color: transparent transparent #45f3ff transparent;
        /* Top to Right (Blue) */
        animation-delay: -1.5s;
        margin: 0;
    }
}

/* Styles for mobile devices */
@media (max-width: 576px) {
    .box {
        width: 90%;
        padding: 15px;
    }
}

/* Styles for tablet devices */
@media (min-width: 577px) and (max-width: 768px) {
    .box {
        max-width: 450px;
    }
}

/* Styles for laptop devices */
@media (min-width: 769px) and (max-width: 1024px) {
    .box {
        max-width: 600px;
    }
}

/* Styles for PC and larger screens */
@media (min-width: 1025px) {
    .box {
        max-width: 800px;
    }
}